NodeRED-Chickens.txt
[{"id":"bb4fa2c7.c36a","type":"mqtt in","z":"e3649b86.476778","name":"chick stat","topic":"/chicken/status","qos":"2","broker":"d622d1fe.cbed2","x":90.08267974853516,"y":658.0330505371094,"wires":[["3789875f.023838"]]},{"id":"58634e2e.730cc","type":"ui_button","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":1,"width":"3","height":"1","label":"open","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":118,"y":128,"wires":[["be9f9033.b16bf"]]},{"id":"be9f9033.b16bf","type":"mqtt out","z":"e3649b86.476778","name":"","topic":"/chicken/door","qos":"","retain":"","broker":"d622d1fe.cbed2","x":402,"y":62,"wires":[]},{"id":"e75e44c9.37e668","type":"ui_button","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":2,"width":"3","height":"1","label":"close","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":118,"y":70,"wires":[["be9f9033.b16bf"]]},{"id":"ab931afb.dec888","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":4,"width":"6","height":"1","name":"","label":"door status","format":"{{msg.payload}}","layout":"row-left","x":600.4708862304688,"y":624.7354125976562,"wires":[]},{"id":"7ed5878.d4d7a78","type":"ui_gauge","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":5,"width":"2","height":"2","gtype":"gage","title":"signal","label":"units","format":"{{value}}","min":"-130","max":"0","colors":["#fe386a","#e6e600","#2cf20f"],"seg1":"","seg2":"","x":583.0000610351562,"y":290,"wires":[]},{"id":"fdb7070.7c064f8","type":"mqtt in","z":"e3649b86.476778","name":"","topic":"/chicken/strength","qos":"2","broker":"d622d1fe.cbed2","x":134,"y":288,"wires":[["4fa7801d.5a872"]]},{"id":"3789875f.023838","type":"function","z":"e3649b86.476778","name":"command Token","func":"\nvar aMsg = msg.payload;\nvar newMsg = \"UNKNOWN\";\nvar partsOfStr = aMsg.split(':');\nif (partsOfStr[0] == \"1\") newMsg = \"OPEN\";\nif (partsOfStr[0] == \"0\") newMsg = \"CLOSED\";\n\n\nvar dateNow = new Date();\nvar timeAsString = dateNow.toLocaleTimeString();\n    \nmsg.payload = newMsg + \n              ' at ' + \n              timeAsString + '.\\n' + partsOfStr[1];\n\n\nreturn [msg];\n","outputs":"1","noerr":0,"x":369.4305725097656,"y":655.073624253273,"wires":[["ab931afb.dec888","bb69b3eb.29b55"]]},{"id":"cae284e6.a7a428","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":9,"width":0,"height":0,"name":"","label":"PIR","format":"{{msg.payload}}","layout":"row-left","x":556.7031860351562,"y":777.8212890625,"wires":[]},{"id":"d9cb4188.d0269","type":"function","z":"e3649b86.476778","name":"Movement TIME","func":"var aMsg = msg.payload;\nvar msg1 = { payload:\"o\" };\nvar newMsg = \"\";\nif (aMsg == \"A\") newMsg = \"Movement\";\nif (aMsg == \"P\") newMsg = \"Quite\";\n\nvar dateNow = new Date();\nvar timeAsString = dateNow.toLocaleTimeString();\n    \n\nif (aMsg == \"A\") \n{\nmsg.payload = newMsg + \n              ' at ' + \n             timeAsString + '.';\n  node.status({fill:\"green\",shape:\"dot\",text:msg.payload });\n\n} else {\n    msg.payload = \"\";\n    msg1.payload = newMsg + \n              ' at ' + \n             timeAsString + '.';\n\n}\n\n\n\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":373.23187255859375,"y":750.4874267578125,"wires":[["cae284e6.a7a428","18eb4f81.c6d96"],[]]},{"id":"2033b1e3.ec41de","type":"mqtt out","z":"e3649b86.476778","name":"","topic":"/chicken/signal","qos":"","retain":"","broker":"d622d1fe.cbed2","x":416.1000061035156,"y":136.20001220703125,"wires":[]},{"id":"3b11ed98.992682","type":"inject","z":"e3649b86.476778","name":"","topic":"Interigate","payload":"1","payloadType":"str","repeat":"60","crontab":"","once":false,"x":140.10000610351562,"y":196.80001831054688,"wires":[["2033b1e3.ec41de","3cdb6fb8.f156f"]]},{"id":"f44f6bad.95be88","type":"mqtt in","z":"e3649b86.476778","name":"pir","topic":"/chicken/pir","qos":"2","broker":"d622d1fe.cbed2","x":115.93427276611328,"y":736.2992553710938,"wires":[["d9cb4188.d0269"]]},{"id":"849e3a1.ca718c8","type":"bigtimer","z":"e3649b86.476778","outtopic":"","outpayload1":"","outpayload2":"","name":"time controller","lat":"54.841692","lon":"-1.807907","starttime":"5000","endtime":"5001","startoff":0,"endoff":0,"offs":0,"outtext1":"day","outtext2":"night","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"x":147.81890869140625,"y":536.5726928710938,"wires":[[],[],["486d61da.2cefb"]]},{"id":"486d61da.2cefb","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":11,"width":"3","height":"1","name":"daynight","label":"zone","format":"{{msg.payload}}","layout":"row-left","x":396.8197326660156,"y":503.85357666015625,"wires":[]},{"id":"4fa7801d.5a872","type":"function","z":"e3649b86.476778","name":"Split DATA","func":"var aMsg = msg.payload;\nvar msg2 = { payload:\"o\" };\nvar msg3 = { payload:\"\" };\nvar msg4 = { payload:\"\" };\nvar msg5 = { payload:\"\" };\n\nvar dateNow = new Date();\nvar timeAsString = dateNow.toLocaleTimeString();\nmsg5.payload = timeAsString;\n\nvar partsOfStr = aMsg.split(',');\n\n\nmsg.payload = partsOfStr[0];\nmsg4.payload = '<a href=\"http://' + partsOfStr[3] + '\">chickens</a>';\n\nvar statOK = global.get('statOK')||0;\nstatOK+=1;\nglobal.set('statOK',statOK);\n\n\nvar secs = partsOfStr[1] / 1000;\nvar xWeeks = Math.floor(secs / 604800);\nvar xDays = Math.floor((secs - (xWeeks * 605800)) / 86400);\nvar xHour = Math.floor((secs - (xWeeks * 605800) - (xDays * 86400) ) / 3600);\nvar xMins = Math.floor((secs - (xWeeks * 605800) - (xDays * 86400) - (xHour * 3600)) / 60);\nvar xTime = \"\";\nif (xWeeks > 0) xTime = xWeeks + \" weeks \";\nif (xDays > 0)  xTime = xTime + xDays + \" days \";\nif (xHour < 10) xTime = xTime + \"0\";\nxTime = xTime + xHour + \":\";\nif (xMins < 10) xTime = xTime + \"0\";\nxTime = xTime + xMins;\nmsg2.payload = xTime;\nmsg3.payload = partsOfStr[2];\nreturn [msg,msg2,msg3,msg4, msg5];","outputs":"5","noerr":0,"x":386,"y":330,"wires":[["7ed5878.d4d7a78"],["a4729721.7c0ab8"],["b0f0b1f3.7728","155b8053.be12"],["5a977437.f3dadc"],["2ac20c20.35c7a4"]]},{"id":"a4729721.7c0ab8","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":7,"width":"3","height":"1","name":"","label":"UP-time","format":"{{msg.payload}}","layout":"row-left","x":625,"y":203,"wires":[]},{"id":"3cdb6fb8.f156f","type":"function","z":"e3649b86.476778","name":"Updateing...","func":"var msg2 = { payload:\"0\" };\nvar statUPD = global.get('statUPD')||0;\nvar statOK = global.get('statOK')||0;\n\nstatUPD += 1;\nstatOK+=1;\nglobal.set('statUPD',statUPD);\n\nvar statUP = Math.floor((100 / statUPD) * statOK);\n\nmsg.payload=\"**updating**\"\nmsg2.payload = statUP;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":388,"y":236,"wires":[["a4729721.7c0ab8"],["fa66e734.bdb308"]]},{"id":"b0f0b1f3.7728","type":"ui_gauge","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":6,"width":"2","height":"2","gtype":"gage","title":"Battry","label":"volts","format":"{{value}}","min":"10","max":"15","colors":["#fa294e","#3aab43","#000000"],"seg1":"","seg2":"","x":698.0000190734863,"y":332.99999809265137,"wires":[]},{"id":"fa66e734.bdb308","type":"ui_gauge","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":12,"width":"2","height":"2","gtype":"gage","title":"Up","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#a70e34","#e6e600","#0cf517"],"seg1":"","seg2":"","x":575,"y":256,"wires":[]},{"id":"c95890.c0b5577","type":"ui_button","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":3,"width":0,"height":0,"label":"Reset Stat","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":720,"y":686,"wires":[["a9820a48.65b2f8"]]},{"id":"a9820a48.65b2f8","type":"function","z":"e3649b86.476778","name":"RESET","func":"\nglobal.set('statUPD',0);\nglobal.set('statOK',0);\nreturn msg;","outputs":1,"noerr":0,"x":913,"y":680,"wires":[[]]},{"id":"ccb03275.b33b9","type":"ui_gauge","z":"e3649b86.476778","name":"","group":"807ed93d.822c88","order":2,"width":"3","height":"3","gtype":"gage","title":"Coop Tepmerature","label":"'c","format":"{{value}}","min":"-10","max":"69","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":579.0000114440918,"y":1004.0000171661377,"wires":[]},{"id":"ab797ef.ef9de8","type":"ui_gauge","z":"e3649b86.476778","name":"","group":"807ed93d.822c88","order":3,"width":"3","height":"3","gtype":"gage","title":"Coop Hymidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":566.0000114440918,"y":1040.99995803833,"wires":[]},{"id":"5a977437.f3dadc","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":8,"width":"3","height":"1","name":"","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":697.0000228881836,"y":368,"wires":[]},{"id":"a29906e3.9c1858","type":"mqtt in","z":"e3649b86.476778","name":"","topic":"/chicken/env","qos":"2","broker":"d622d1fe.cbed2","x":105,"y":1093.99995803833,"wires":[["67328c3f.bc7ca4"]]},{"id":"67328c3f.bc7ca4","type":"function","z":"e3649b86.476778","name":"Environment","func":"var aMsg = msg.payload;\nvar msg2 = { payload:\"o\" };\nvar msg3 = { payload:\"\" };\n\nvar partsOfStr = aMsg.split(',');\n\nmsg.payload = partsOfStr[0];\nmsg2.payload = partsOfStr[1];\nmsg3.payload = partsOfStr[2];\n\n\nreturn [msg,msg2,msg3];","outputs":"3","noerr":0,"x":324.00000762939453,"y":1093.9999599456787,"wires":[["ccb03275.b33b9","6242984f.0e0998"],["ab797ef.ef9de8","6242984f.0e0998"],["84e47a7f.97fc78"]]},{"id":"84e47a7f.97fc78","type":"ui_chart","z":"e3649b86.476778","name":"","group":"807ed93d.822c88","order":0,"width":0,"height":0,"label":"lux","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"WAITING.....","ymin":"0","ymax":"60000","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":607,"y":1167,"wires":[[],[]]},{"id":"f04bc9ca.705fb8","type":"ui_audio","z":"e3649b86.476778","name":"pi","group":"993b3f0.d514ec","voice":"0","always":"","x":578.0000305175781,"y":705.0000247955322,"wires":[]},{"id":"6242984f.0e0998","type":"ui_chart","z":"e3649b86.476778","name":"","group":"807ed93d.822c88","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":680.0000152587891,"y":1094.9999599456787,"wires":[[],[]]},{"id":"96305127.17f0f","type":"alexa-home","z":"e3649b86.476778","conf":"4f6f18e0.44f788","device":"3463","acknoledge":true,"name":"stairs","topic":"admin","x":211,"y":1607,"wires":[["ad1d526a.f7617"]]},{"id":"9daa8cc3.a1661","type":"debug","z":"e3649b86.476778","name":"","active":true,"console":"false","complete":"payload","x":445.00000762939453,"y":1680.00004196167,"wires":[]},{"id":"8a7ca902.a34be8","type":"mqtt in","z":"e3649b86.476778","name":"","topic":"/chicken/settings","qos":"2","broker":"d622d1fe.cbed2","x":119,"y":1333,"wires":[["e48269f9.cc1c88","7a49e1bf.7ce7f"]]},{"id":"e48269f9.cc1c88","type":"function","z":"e3649b86.476778","name":"Setup","func":"\n\nvar aMsg = msg.payload;\nvar msg2 = { payload:\"o\" };\nvar msg3 = { payload:\"o\" };\nvar msg4 = { payload:\"o\" };\nvar msg5 = { payload:\"o\" };\nvar msg6 = { payload:\"o\" };\n\nvar partsOfStr = aMsg.split(',');\n\nmsg.payload = partsOfStr[0];\nmsg2.payload = partsOfStr[1];\nmsg3.payload = partsOfStr[2];\nmsg4.payload = partsOfStr[3];\nmsg5.payload = partsOfStr[4];\nmsg6.payload = partsOfStr[5];\nif (partsOfStr[2]==\"1\") {\n    msg3.payload =\"E\";\n} else {\n    msg3.payload  = \"e\";\n}\n\nif (partsOfStr[3]==\"1\") {\n    msg4.payload =\"X\";\n} else {\n    msg4.payload  = \"x\";\n}\n\nif (partsOfStr[4]==\"1\") {\n    msg5.payload =\"G\";\n} else {\n    msg5.payload  = \"g\";\n}\n\nif (partsOfStr[5]==\"1\") {\n    msg6.payload =\"D\";\n} else {\n    msg6.payload  = \"d\";\n}\n\n\n\n\nglobal.set(\"DoorOPEN\",partsOfStr[0]);\nglobal.set(\"DoorCLOSE\",partsOfStr[1]);\n\nreturn [msg,msg2,msg3,msg4,msg5,msg6];","outputs":"6","noerr":0,"x":287.00000762939453,"y":1333.9999675750732,"wires":[["1844be08.eeff82"],["dce75b22.4e2218"],["eb3c9b97.8e1448"],["4a4ace7c.5dfa5"],["553faf52.9cda7"],["6d60e008.81f8d"]]},{"id":"f917a541.823218","type":"alexa-home","z":"e3649b86.476778","conf":"4f6f18e0.44f788","device":"3805","acknoledge":true,"name":"eggs","topic":"pi","x":75,"y":1653,"wires":[["9daa8cc3.a1661"]]},{"id":"12de1fed.e4cde","type":"alexa-http response","z":"e3649b86.476778","name":"mesage","x":817,"y":1551,"wires":[]},{"id":"2ac20c20.35c7a4","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":10,"width":"3","height":"1","name":"","label":"last","format":"{{msg.payload}}","layout":"row-center","x":685.1000366210938,"y":409.00001525878906,"wires":[]},{"id":"1844be08.eeff82","type":"ui_text_input","z":"e3649b86.476778","name":"OPEN","label":"Open","group":"993b3f0.d514ec","order":15,"width":"3","height":"1","passthru":false,"mode":"text","delay":300,"topic":"OPEN","x":453.10015869140625,"y":1208,"wires":[["82258c6b.4117"]]},{"id":"82258c6b.4117","type":"function","z":"e3649b86.476778","name":"Door UPDATE","func":"\nif (msg.payload.length == 5) { \n  if (msg.topic==\"OPEN\") { \n     var Cdoor = global.get(\"DoorOPEN\");\n\n     if (Cdoor !== msg.payload) {\n      \n       msg.payload=\"O\" + msg.payload;\n     }\n  }\n\n  if (msg.topic==\"CLOSE\") {\n     var Cdoor = global.get(\"DoorCLOSE\");\n\n     if (Cdoor !== msg.payload) {\n       msg.payload=\"C\" + msg.payload;\n        \n    \n     }\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":712.10009765625,"y":1376.4000244140625,"wires":[["28a640a0.dd36e","18eb4f81.c6d96"]]},{"id":"dce75b22.4e2218","type":"ui_text_input","z":"e3649b86.476778","name":"CLOSE","label":"Close","group":"993b3f0.d514ec","order":17,"width":"3","height":"1","passthru":false,"mode":"text","delay":300,"topic":"CLOSE","x":449.10009765625,"y":1253,"wires":[["82258c6b.4117"]]},{"id":"28a640a0.dd36e","type":"mqtt out","z":"e3649b86.476778","name":"","topic":"/chicken/door","qos":"","retain":"","broker":"d622d1fe.cbed2","x":957.10009765625,"y":1438.4000244140625,"wires":[]},{"id":"336789ca.b6c116","type":"alexa-home-resp","z":"e3649b86.476778","x":744.1000366210938,"y":1486.800048828125,"wires":[]},{"id":"4a4ace7c.5dfa5","type":"ui_switch","z":"e3649b86.476778","name":"","label":"Close","group":"993b3f0.d514ec","order":16,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"X","onvalueType":"str","onicon":"","oncolor":"","offvalue":"x","offvalueType":"str","officon":"","offcolor":"","x":460.1000061035156,"y":1361.2000732421875,"wires":[["82258c6b.4117"]]},{"id":"eb3c9b97.8e1448","type":"ui_switch","z":"e3649b86.476778","name":"","label":"Open ","group":"993b3f0.d514ec","order":14,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"E","onvalueType":"str","onicon":"","oncolor":"","offvalue":"e","offvalueType":"str","officon":"","offcolor":"","x":452.1000061035156,"y":1319.199951171875,"wires":[["82258c6b.4117"]]},{"id":"553faf52.9cda7","type":"ui_switch","z":"e3649b86.476778","name":"","label":"Delay REOPEN","group":"993b3f0.d514ec","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"G","onvalueType":"str","onicon":"","oncolor":"","offvalue":"g","offvalueType":"str","officon":"","offcolor":"","x":458.10005950927734,"y":1455.2000694274902,"wires":[["82258c6b.4117"]]},{"id":"6d60e008.81f8d","type":"ui_switch","z":"e3649b86.476778","name":"","label":"Grace","group":"993b3f0.d514ec","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"D","onvalueType":"str","onicon":"","oncolor":"","offvalue":"d","offvalueType":"str","officon":"","offcolor":"","x":457.10003662109375,"y":1497.2000732421875,"wires":[["82258c6b.4117"]]},{"id":"7a49e1bf.7ce7f","type":"debug","z":"e3649b86.476778","name":"","active":true,"console":"false","complete":"false","x":258,"y":1197,"wires":[]},{"id":"dfd3de75.aec64","type":"openweathermap in","z":"e3649b86.476778","name":"Weather","lon":"-1.807907","lat":"54.841692","city":"","country":"","language":"en","x":134.00000762939453,"y":443.00001430511475,"wires":[["16d3000f.75ef"]]},{"id":"a91d8678.504748","type":"e-mail","z":"e3649b86.476778","server":"smtp.gmail.com","port":"465","secure":true,"name":"litildevil.db@gmail.com","dname":"","x":832,"y":465,"wires":[]},{"id":"bb69b3eb.29b55","type":"template","z":"e3649b86.476778","name":"Email","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This email has been sent due to an issue with the chickens.\nTHe current problem is {{payload}} !","x":621,"y":465,"wires":[["a91d8678.504748"]]},{"id":"23bcf9d4.623576","type":"ui_button","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":0,"width":"2","height":"1","label":"RESET","color":"","bgcolor":"","icon":"","payload":"?","payloadType":"str","topic":"","x":348,"y":1795,"wires":[["97f7ee18.f5f7e"]]},{"id":"97f7ee18.f5f7e","type":"mqtt out","z":"e3649b86.476778","name":"","topic":"/chicken/door","qos":"","retain":"","broker":"d622d1fe.cbed2","x":570,"y":1795,"wires":[]},{"id":"38c4a318.165d9c","type":"mqtt in","z":"e3649b86.476778","name":"","topic":"/chicken/connected","qos":"2","broker":"d622d1fe.cbed2","x":149,"y":1876,"wires":[["34de5cfd.2f56c4","9a7ee26.3a1972"]]},{"id":"34de5cfd.2f56c4","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":0,"width":0,"height":0,"name":"","label":"Version","format":"{{msg.payload}}","layout":"row-spread","x":394,"y":1873,"wires":[]},{"id":"9a7ee26.3a1972","type":"debug","z":"e3649b86.476778","name":"","active":true,"console":"false","complete":"false","x":463,"y":1933,"wires":[]},{"id":"18eb4f81.c6d96","type":"file","z":"e3649b86.476778","name":"","filename":"/home/pi/chicks.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1025.39066696167,"y":846.1367225646973,"wires":[]},{"id":"16d3000f.75ef","type":"ui_text","z":"e3649b86.476778","group":"993b3f0.d514ec","order":0,"width":0,"height":0,"name":"","label":"Forcast","format":"{{msg.payload.details}}","layout":"row-spread","x":388.3828125,"y":464.4765625,"wires":[]},{"id":"155b8053.be12","type":"ui_chart","z":"e3649b86.476778","name":"","group":"993b3f0.d514ec","order":0,"width":"6","height":"7","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"10","ymax":"14","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":908.3828125,"y":258.4609375,"wires":[[],[]]},{"id":"ad1d526a.f7617","type":"debug","z":"e3649b86.476778","name":"","active":true,"console":"false","complete":"false","x":470,"y":1608,"wires":[]},{"id":"55eb849.b6b877c","type":"alexa-home","z":"e3649b86.476778","conf":"4f6f18e0.44f788","device":"3804","acknoledge":true,"name":"Coop","topic":"pi","x":77.38671875,"y":1723.734375,"wires":[["9daa8cc3.a1661"]]},{"id":"d622d1fe.cbed2","type":"mqtt-broker","z":"","broker":"192.168.1.222","port":"1883","clientid":"pi","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"993b3f0.d514ec","type":"ui_group","z":"","name":"LOG","tab":"ee2ac236.bbd5f","order":1,"disp":false,"width":"6"},{"id":"807ed93d.822c88","type":"ui_group","z":"","name":"admin","tab":"ee2ac236.bbd5f","order":2,"disp":false,"width":"6"},{"id":"4f6f18e0.44f788","type":"alexa-home-conf","z":"","username":"litildevil"},{"id":"ee2ac236.bbd5f","type":"ui_tab","z":"","name":"LOG","icon":"dashboard","order":1}]